@model IS.Transactions.Demo.Core.Model.Person

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { code = Model.Code }) |
    @Html.ActionLink("Cancel", "Index")
</p>
